<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile page</title>
</head>
<body>
    <h1>Profile page...</h1>
    <h4>  user name : <%= user.name %> </h4>
    <h4>  user email : <%= user.email %></h4>
    <h4>  user city : <%= user.city %></h4>
</body>
</html>